<!doctype html>
/[if lt IE 7 ] <html lang="en" class="no-js ie6">
/ [if (gt IE 6)|!(IE)]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %title The Stash Box - Versus
    %meta{:content => "The Stash Box", :name => "description"}/
    %meta{:content => "The Stash Box", :name => "author"}/
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "/stylesheets/reset_versus.css", :rel => "stylesheet"}/
    %link{:href => "/stylesheets/main_versus.css", :rel => "stylesheet"}/
    %link{:href => "/stylesheets/jquery-ui-1.css", :rel => "stylesheet"}/
    %link{:href => "/stylesheets/colorpicker.css", :rel => "stylesheet"}/
    %link{:href => "/stylesheets/global.css", :rel => "stylesheet"}/
    /[if lt IE 9 ] <link rel="stylesheet" href="css/ie.css">
    %script{:src => "/javascripts/jquery-1.5.1.js", :type => "text/javascript"}
    %script{:src => "/javascripts/jquery.ui.core.js", :type => "text/javascript"}
    %script{:src => "/javascripts/jquery.ui.widget.js", :type => "text/javascript"}
    %script{:src => "/javascripts/jquery.ui.mouse.js", :type => "text/javascript"}
    %script{:src => "/javascripts/jquery.ui.slider.js", :type => "text/javascript"}
    %script{:src => "/javascripts/mapbox.js", :type => "text/javascript"}
    %script{:src => "/javascripts/curvycorners.js", :type => "text/JavaScript"}
    %script{:src => "/javascripts/controlPanel.js", :type => "text/JavaScript"}
    %script{:src => "/javascripts/colorpicker.js", :type => "text/JavaScript"}
    %script{:src => "/javascripts/fontselector.js", :type => "text/JavaScript"}
    %script{:src => "/javascripts/modernizr-1.6.min.js"}
  %body{:class => @class}
    #wrapper
      = render :partial => 'layouts/header_show_versus'
      = yield
      = render :partial => 'layouts/footer'
