.bioBox
  = image_tag 'who_we_are/jet_landis.png'
  .bio
    %h2 Jet Landis
    %b TSB Role:
    %p.role
      Graphic Designer, Animator, Illustrator (aka all things visual)

    %b Hometown:
    %p.hometown
      Harrisburg, PA
    .clear
    %b What song describes you:
    %ul.song
      %li "Jet" - Paul McCartney & Wings
      %li "Jet Song" - West Side Story
      %li "Jet Boy, Jet Girl" - The Damned
      %li "Leaving on a Jet Plane" - Peter, Paul & Mary
    %br/
    %b What inspires You:
    %p.inspiration
      Everything I encounter from book covers to product packaging in the grocery store, as well as my family, friends, and Kei Tawara.

    %b Random:
    %p.random
      I worked as a horse carriage driver in Philadelphia throughout college, giving history tours.  Also, I was on a PBS cooking show when I was 12 years old.

    %b Why I Love TSB:
    %p.love
      First of all, I get to work with some awesome people.  From day-to-day I work on different things so its nice to have something fresh every day.

    %b When I'm not working on TSB stuff you'll find me:
    %p.other
      Playing video games, reading sappy novels, knitting hats and striking some chords on my ukulele.

    %b Personal "style" or life icon:
    %p.style
      Rosie the Riveter
