.bioBox
  = image_tag 'who_we_are/melinda_lin.png'
  .bio
    %h2 Melinda Lin
    %b TSB Role:
    %p.role
      Brand Communications. I am also the office’s resident breakdancer.

    %b Hometown:
    %p.hometown
      Livingston, NJ
    .clear
    %b What song describes you:
    %ul.song
      %li "King of Spain" - Tallest Man on Earth
      %li "I’ll Keep It With Mine" - Bob Dylan
      %li "Take Off Your Cool" - Outkast ft. Norah Jones
      %li "Hang on" - Dr. Dog
      %li "Wake up" - Arcade Fire
      %li "It’s My Party and I’ll Cry If I Want To" (every birthday, without fail)
    %br/
    %b What inspires You:
    %p.inspiration
      Mom
    %b Random:
    %p.random
      Performed at Carnegie Hall when I was 16, and can play piano, violin, guitar, and the djembe.  Born in raised in Queens, I am an avid Mets fan, but am also a sore loser – so given that combination, you should be on a constant watch-out for my sports alter-ego “Met-linda” – she’s kinda mean.  I must really be a vain, indulgent masochist, because I also study improv comedy at the Upright Citizen Brigade Theatre, where I have perfected my signature character: “that bitchy girl”

    %b Why I Love TSB:
    %p.love
      TSB is a unique hub of creativity, energy, and constant innovation I never have to worry about being just a little weird: everyone on our team brings their own interesting quirks and skills to the table, which allows us to do the best work we can for our clients and members.

    %b When I'm not working on TSB stuff you'll find me:
    %p.other
      Watching sports, feeding my TV addiction, playing volleyball or soccer (and to the chagrin of my teammates, sometimes mixing up the two!), practicing improv, ugly crying at movie theaters, on the never ending search for NYC’s best burger, and hanging out with friends and family, my favorite people in the world, probably at a karaoke bar.

    %b Personal "style" or life icon:
    %p.style
      Prince, Jean Seberg in Bout de Souffle, Jane Birkin, Karen O., and Jenny Lewis
