.bioBox
  = image_tag 'who_we_are/russ_seyfert.png'
  .bio
    %h2 Russ Seyfert
    %b TSB Role:
    %p.role
      Utility infielder.

    %b Hometown:
    %p.hometown
      Long Guyland, New Yawk
    .clear
    %b What song describes you:
    %ul.song
      %li "Regulate" - Warren G
    %br/
    %b What inspires You:
    %p.inspiration
      Action movies of the 80’s and early 90’s, kicking out the jams, words, seeing jazz, my bros, THE SHERIF

    %b Random:
    %p.random
      I was an excellent, state-ranked swimmer in my younger, slimmer years. I was in a great Long Island band (translates to mediocre band in most other locales) in my misbegotten youth.

    %b Why I Love TSB:
    %p.love
      After a series of truly uninspiring jobs, TSB is the first place where I can apply my few, specialized, liberal arts college-honed skills to great effect. Also, it’s just a terrific, well-thought- out, really useful idea for a website that I can get behind and get excited about.

    %b When I'm not working on TSB stuff you'll find me:
    %p.other
      Being a man of leisure.

    %b Personal "style" or life icon:
    %p.style
      Peter O’Toole, Joseph Buoys, John Cassavettes, Neil Young, Louis CK, Miles Davis, my Dad.
