.bioBox
  = image_tag 'who_we_are/sherif_shalaby.png'
  .bio
    %h2 Sherif Shalaby
    %b TSB Role:
    %p.role
      In all honesty, we collaborate on everything at TSB so this is a tough one to answer. Every day is different for every one of us and that keeps our crazy work schedules fun and fresh.

    %b Hometown:
    %p.hometown
      Edmond, OK

    .clear
    %b What song describes you:
    %ul.song
      %li "Burn, Don’t Freeze" - Sleater Kinney
      %li "The Bomb" - Ice Cube
      %li "Jazzy Belle" - Outkast
      %li "Tame" - The Pixies
      %li "Slow Night, So Long" - Kings Of Leon
      %li "Be My Head" - The Flaming Lips
    %br/
    %b What inspires You:
    %p.inspiration
      My parents, Will Rogers, O’shea Jackson, Underdogs, Elsa Schiaparelli, Everyday life (if you pay attention to it), My Friends

    %b Random:
    %p.random
      My first design studio was the lobby of a 1930’s movie theater that I rehabbed myself and that happened to be next a methadone clinic (that’s why the rent was only $200). I can name every triple crown winner in under 10 seconds. I wrote/designed for ReadyMade magazine for 5 years. I have 180+ sneakers in storage, I am a huge fan of redheads, I can cook pretty much anything, I am a self proclaimed hip hop historian, I am a die hard Sooners fan, I used to work for Gizmonics Institute, I can pretty much build anything you might ever dream of.

    %b Why I Love TSB:
    %p.love
      It’s honest, real, fun, and changes things for the better. What else could you possibly want out of a website, or life?

    %b When I'm not working on TSB stuff you'll find me:
    %p.other
      Making things with my hands IE bookcases, clothes, furniture (usually for my friends), Looking for old books and random art with Taylor Mason, dorking out over any good design, Hunting down new restaurants, running along the East River, contemplating what kind of dog I should get.

    %b Personal "style" or life icon:
    %p.style
      Just be yourself and don’t try to hard. Wear and live what you believe in
