.bioBox
  = image_tag 'who_we_are/taylor_mason.png'
  .bio
    %h2 Taylor Mason
    %b TSB Role:
    %p.role
      I am the official TSB wordsmith and darn proud of it! Among many other things, of course.

    %b Hometown:
    %p.hometown
      Newport Beach, CA

    .clear
    %b What song describes you:
    %ul.song
      %li "Ooh La La" – Faces
      %li "Somewhere Over The Rainbow"- Judy Garland
      %li "My Way"- Sid Vicious version
      %li "St. Rosa and The Swallows"- The Thermals
      %li "Stay (Faraway, So Close)" – U2
    %br/
    %b What inspires You:
    %p.inspiration
      Music, Sherif Shalaby, my friends, poetry, a rainy walk alone through New York City and Cameron Crowe films
    %b Random:
    %p.random
      I was a 2 time national champion equestrian (hunter/jumpers).I am a published poet. I come from the music industry and have toured the world with rock bands. I can’t dance but I love Bob Fosse.. I only wear one fragrance: Libertine by Vivienne Westwood. I have 40 hours of culinary training from the French Culinary Institute under my belt.

    %b Why I Love TSB:
    %p.love
      TSB is my canvas and everyday I use my unique palette of writing, management, musical knowledge, individuality and creativity to paint something new- something I believe in.

    %b When I'm not working on TSB stuff you'll find me:
    %p.other
      Re-reading Wuthering Heights, at the gym,  at a concert, hanging out with my wonderful friends, drinking a diet coke, people watching and thinking of what color my hair should be next.

    %b Personal "style" or life icon:
    %p.style
      Vivienne Westwood, Bridget Bardot, Sharon Osbourne

