#main
  #blockLeft
    - if @selected_tab != 'bottom_banner'
      %section.secOne
        - if @selected_tab == 'versus_question'
          #questionBlock
            %h5
              .h5sty QUESTION
            .typeQues
              %input{:type => "text",:id=>"question_a",:maxlength=>"50",:name=>"question_a",:value=>""}/
            .maxChar 50 Character maximum
            .delQ
              .delQimg
                %img{:alt => "minus button", :src => "/images/delQuesBtn.jpg"}/
              .delQtxt 
                %a{:id=>"resetQ",:href=>"#"} delete question
            .chooseFont  
            .fontType
              %input{:type => "text",:id=>"fontSel",:value=>"",:name=>"fontSel",:style=>""}/
            #colorSelector
              .fontColor
        - if @selected_tab != 'versus_question' and @selected_tab != 'bottom_banner'
          #secOneBlock
            .tit #{@selected_tab.gsub("_"," ")}
            %form#upload{:action => "/brandpartners_save", :enctype => "multipart/form-data",:multipart => true, :method => "POST", :style => " top:0px; position: relative; z-index: 100; height: 0px;"}
              %input#files{:size => "13", :type => "file", :name=> "product[#{@selected_tab}]",:style=>"opacity:0.0; filter:alpha(opacity=0);", :onchange=>"hide_image();"}
              %input{:type => "hidden",:value=>"#{@selected_tab}",:name=>"img_block"}/
              %input{:size => "13", :type => "submit",:value=>"upload",:style=>"margin-left:100px;"}/
            .chooseImgBtn
            .chooseImgBtnNoBackground
            .chooseImgTxt image requirements
            .removeImg remove image
            #control
              .zoomTxt ZOOM IMAGE
              %ul.zoomer
                %li#zoomNeg
                  %a.back{:href => "#zoom_out"}
                    %img{:alt => "minus button", :src => "/images/size_dec_button.jpg"}/
                %li#zoomCursor
                  #slider01.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all
                    %a.ui-slider-handle.ui-state-default.ui-corner-all{:href => "#", :style => "left: 100%;"}
                %li#zoomPlus
                  %a.zoom{:href => "#zoom"}
                    %img{:alt => "plus button", :src => "/images/size_inc_button.jpg"}/
              .moveTxt MOVE IMAGE
              .map-control
                %a.left{:href => "#left"} Left
                %a.right{:href => "#right"} Right
                %a.up{:href => "#up"} Up
                %a.down{:href => "#down"} Down
              .reset
                .resetTxt
                  %a{:href => ""} RESET
                .resetImg
                  %a{:href => ""}
                    %img{:alt => "reset button", :src => "/images/remove_img_button.jpg"}/
    - if @selected_tab == 'bottom_banner'
      %section.bannerLeft
        #bannerLeftBlock
          .tit BOTTOM BACKGROUND
          #colorSelector
            .fontColor
    %section.secFour
      #secFourBlock
        .tit IMAGE REQUIREMENTS
        .txt1 File formats:
        .txt2 File size:
  #blockRight{:style => "position:relative;"}
    =render :partial=>@selected_tab
    %section.secThree
      #saveBlock
        - if @selected_tab == 'versus_question'
          %input.saveBtnSty{:name => "save", :type => "button",:onclick=>"save_question_value();"}/
        - elsif @selected_tab == 'bottom_banner'
          %input.saveBtnSty{:name => "save", :type => "button",:onclick=>"save_bottom_banner();"}/
        - else
          %input.saveBtnSty{:name => "save", :type => "button"}/
      #continueBlock
        %input.continueBtnSty{:name => "continue", :type => "button"}/
  / #main
  %input#slider{:type => "hidden", :value => "0"}/
:javascript
  function hide_image(){
    $(".chooseImgBtn").hide();
    $(".chooseImgBtnNoBackground").show();
    $(".chooseImgBtnNoBackground").html($("#files")[0].value);
  }

  function change_question_value(parameter){
    $('#selected_question').val(parameter);
    $('#question_button_no').val(parameter);
    $.ajax({
      type: "post",
      url: "/retrive_question_information",
      data: { question_no: parameter},
      datatype: 'json',
      success: function(json){
        if ( json['question'] ){
          $("#question_b").val(json['question']['title']);
          $("#question_b").css('color',json['question']['font_color']);
          $("#question_b").css('font-family',json['question']['font_style']);
        }
        else{
          $("#question_b").val("QUESTION " + parameter);
          $("#question_b").css('color','#34282C');
        }
      }
    });
   }


  function save_question_value(){
      var question_no =  $('#selected_question').val();
      var title  = $('#question_b').val();
      var font = $('#fontSel').val();
      var font_color = $('#question_b').css('color');
      $('#question_no').val(question_no);
      $('#title').val(title);
      $('#font_style').val(font);
      $('#text_font_color').val(font_color);
      $('#question_save_question_value').submit();
  }

  function save_bottom_banner(){
      var font_color = $('#bottomBannerBlock').css('background-color');
      $('#font_color').val(font_color);
      $('#bottom_baner_save_bottom_banner').submit();
  }



  $(document).ready(function(){
    change_question_value(#{params[:q] || 1});
    $('#quizBlock').css('background-color','none' );
    $('#question_a').focus(function(){
      $('#question_a').css('background','none');
      $('#question_a').keyup(function(){
        $('#question_b').val($('#question_a').val());
      })
    })	

    $('#question_a').focusout(function(){
      if($('#question_a').val()=='') {
        $('#question_b').val('')
          $('#question_a').css({'background':'url("images/quesPanelImg1.jpg") no-repeat scroll left top transparent','text-align':'center'});
          $('#question_b').val('QUESTION');
      }
    })

    $('#question_b').focus(function(){
      $('#question_a').css('background','none');
      if($('#question_b').val()=='') {
        $('#question_b').val('QUESTION')
      }
      if($('#question_b').val()=='QUESTION') {
        $('#question_b').val('')
      }
      $('#question_b').keyup(function(){
        $('#question_a').val($('#question_b').val());
      })
    })	

    $('#question_b').focusout(function(){
      if($('#question_b').val()=='') {
        $('#question_a').css('background','url("images/quesPanelImg1.jpg") no-repeat scroll left top transparent');
        $('#question_b').val('QUESTION');
      }
    })
    $('#fontSel').fontSelector();
    $('#fontSel').focusout(function(){
      if($('#fontSel').val()==''){
        $('#fontSel').css('background','url("images/quesPanelImg3.jpg") no-repeat scroll left top transparent');				
      }
      else{
        $('#fontSel').css('background','none');
      }
    })

    $('#colorSelector').ColorPicker({
      color: '#000000',
      onShow: function (colpkr) {
        $(colpkr).fadeIn(500);
        return false;
      },
      onHide: function (colpkr) {
        $(colpkr).fadeOut(500);
        return false;
      },
       onChange: function (hsb, hex, rgb) {
          $('#question_b').css('color','#'+hex);
      }
    });

    $('#resetQ').click(function(){
      $('#question_a').val('')
      $('#question_b').val('')
      $('#fontSel').val('')
      $('#question_a').css({'background':'url("images/quesPanelImg1.jpg") no-repeat scroll left top transparent'});
      $('#question_b').css({'font-family':'inherit','color':'#000000'});
      $('#question_b').val('QUESTION');
      $('#fontSel').css('background','url("../images/quesPanelImg3.jpg") no-repeat scroll left top transparent');
    });
  });