#main
  %img{:src => "images/logo_general.gif"}/
  #boxWrap.contactBox
    %img.contactImg{:src => "images/img_contact.png"}/
    .contactTBS
      %p
        Questions, concerns, comments- drop us a line and we'll get back to you stat!
        %br/
        = succeed "Talk" do
          %br/
        soon,
        %br/
        %br/
        %em The Stash Box
      %a{:href => "mailto:info@thestashbox.com"}
        %img.contactBtn{:alt => "Contact TBS", :src => "images/btn_contactTBS.gif"}/
      %br/
      %p
        Interested in partnering with us? Hit us up and we'll get down to business.
        %br/
        = succeed "Professionally" do
          %br/
        yours,
        %br/
        %br/
        %strong
          %em The Stash Box
      %a{:href => "mailto:sales@thestashbox.com"}
        %img.contactBtn{:alt => "Work with TBS", :src => "images/btn_workTBS.gif"}/
/ #main
%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"}
%script{:src => "javascripts/easing.js", :type => "text/javascript"}
