= stylesheet_link_tag "/stylesheets/schwag_page.css"
:css
  .FBConnectButton_Simple, .FBConnectButton_RTL_Simple {
    background-image: url("");
    background-repeat: no-repeat;
    outline: medium none;
    text-decoration: none;
  }
  
.Ernestrewards_main
  .Ernestrewards_top
    .Ernestrewards_top_left
      %img{:alt => "", :border => "0", :src => "images/Ernest_topleft_img.jpg"}/
    .Ernestschwag_top_right
      %img{:alt => "", :border => "0", :src => "images/Ernest_alexander_img.jpg"}/
  .Ernestrewards_middle
    .Ernestschwag_the_steal_txt_row The Steal
    .Ernestschwag_the_steal_img_row
    .Ernestschwag_the_upcomming_txt_row 25% off upcoming shows
    .Ernestschwag_main_content_row
      .Ernestschwag_middle_bttn
        %ul
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_1')"}
              %input{:type => "hidden",:id=>"image_1",:value=>"false",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_2')"}
              %input{:type => "hidden",:id=>"image_2",:value=>"false",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_3')"}
              %input{:type => "hidden",:id=>"image_3",:value=>"false",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_4')"}
              %input{:type => "hidden",:id=>"image_4",:value=>"true",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_5')"}
              %input{:type => "hidden",:id=>"image_5",:value=>"false",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_6')"}
              %input{:type => "hidden",:id=>"image_6",:value=>"true",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_7')"}
              %input{:type => "hidden",:id=>"image_7",:value=>"false",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_8')"}
              %input{:type => "hidden",:id=>"image_8",:value=>"true",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_9')"}
              %input{:type => "hidden",:id=>"image_9",:value=>"false",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_10')"}
              %input{:type => "hidden",:id=>"image_10",:value=>"true",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_11')"}
              %input{:type => "hidden",:id=>"image_11",:value=>"false",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_12')"}
              %input{:type => "hidden",:id=>"image_12",:value=>"true",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_13')"}
              %input{:type => "hidden",:id=>"image_13",:value=>"false",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_14')"}
              %input{:type => "hidden",:id=>"image_14",:value=>"true",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_15')"}
              %input{:type => "hidden",:id=>"image_15",:value=>"true",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_16')"}
              %input{:type => "hidden",:id=>"image_16",:value=>"false",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_17')"}
              %input{:type => "hidden",:id=>"image_17",:value=>"false",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_18')"}
              %input{:type => "hidden",:id=>"image_18",:value=>"false",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_19')"}
              %input{:type => "hidden",:id=>"image_19",:value=>"true",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_20')"}
              %input{:type => "hidden",:id=>"image_20",:value=>"true",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_21')"}
              %input{:type => "hidden",:id=>"image_21",:value=>"false",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_22')"}
              %input{:type => "hidden",:id=>"image_22",:value=>"true",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_23')"}
              %input{:type => "hidden",:id=>"image_23",:value=>"true",:name=>"image_1"}/            
          %li         
            %a{:href => "#",:onclick=>"check_game_option('#image_24')"}
              %input{:type => "hidden",:id=>"image_24",:value=>"false",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_25')"}
              %input{:type => "hidden",:id=>"image_25",:value=>"true",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_26')"}
              %input{:type => "hidden",:id=>"image_26",:value=>"true",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_27')"}
              %input{:type => "hidden",:id=>"image_27",:value=>"false",:name=>"image_1"}/            
          %li       
            %a{:href => "#",:onclick=>"check_game_option('#image_28')"}
              %input{:type => "hidden",:id=>"image_28",:value=>"true",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_29')"}
              %input{:type => "hidden",:id=>"image_29",:value=>"true",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_30')"}
              %input{:type => "hidden",:id=>"image_30",:value=>"true",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_31')"}
              %input{:type => "hidden",:id=>"image_31",:value=>"false",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_32')"}
              %input{:type => "hidden",:id=>"image_32",:value=>"true",:name=>"image_1"}/                     
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_33')"}
              %input{:type => "hidden",:id=>"image_33",:value=>"true",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_34')"}
              %input{:type => "hidden",:id=>"image_34",:value=>"false",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_35')"}
              %input{:type => "hidden",:id=>"image_35",:value=>"true",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_36')"}
              %input{:type => "hidden",:id=>"image_36",:value=>"true",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_37')"}
              %input{:type => "hidden",:id=>"image_37",:value=>"false",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_38')"}
              %input{:type => "hidden",:id=>"image_38",:value=>"false",:name=>"image_1"}/                      
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_39')"}
              %input{:type => "hidden",:id=>"image_39",:value=>"false",:name=>"image_1"}/            
          %li          
            %a{:href => "#",:onclick=>"check_game_option('#image_40')"}
              %input{:type => "hidden",:id=>"image_40",:value=>"true",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_41')"}
              %input{:type => "hidden",:id=>"image_41",:value=>"true",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_42')"}
              %input{:type => "hidden",:id=>"image_42",:value=>"false",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_43')"}
              %input{:type => "hidden",:id=>"image_43",:value=>"true",:name=>"image_1"}/            
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_44')"}
              %input{:type => "hidden",:id=>"image_44",:value=>"false",:name=>"image_1"}/
          %li
            %a{:href => "#",:onclick=>"check_game_option('#image_45')"}
              %input{:type => "hidden",:id=>"image_45",:value=>"false",:name=>"image_1"}/                                
        .clear
      .clear
    .Ernestschwag_middle_bttnrow2
      .Ernestschwag_first_shot_bttn
        %a{:href => "#"}
      .Ernestschwag_second_shot_bttn
        %a{:href => "#"}
      .Ernestschwag_third_shot_bttn
        %a{:href => "#"}
    .Ernestschwag_middle_txtrow3
      .Ernestschwag_middle_txtrow3_row1
        .Ernestschwag_txt_part1 Share the love
        .Ernestschwag_social_bttn_part
          .Ernestschwag_facebook_bttn
            %a{:name => "fb_share",:type=>"icon"}
              %img{:height => "33", :src => "/images/iconFbook.png", :width => "33"}/
              %script{:src => "http://static.ak.fbcdn.net/connect.php/js/FB.Share", :type => "text/javascript"}
          .Ernestschwag_twitter_bttn
            =link_to image_tag("/images/iconBird.png"), "https://twitter.com/share?original_referer=http%3A%2F%2Fthestashbox.com%2Fblog&source=tweetbutton&text=The%20Stashbox%20-%20Blog&url=http%3A%2F%2Fthestashbox.com%2Fblog"      
        .Ernestschwag_txt_part2 And we love you back
      .Ernestschwag_middle_txtrow3_row2 ( earn another shot at the schwag by sharing this versus )
#popup1.popupbox
  %h2 You Won
#popup2.popupbox
  %h2 Sorry You lose  
  %h3 share the page to facebook or twitter to get another shot  
= javascript_include_tag 'membership'      
%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"}
%script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"}
:javascript
  function check_game_option(image_id){
   var selected_image =  $(image_id).val();   
   if (selected_image == "true")
   {
     $("#popup1").dialog({ closeText: '' ,modal:true , resizable: false,position: [500,100]});
     $(image_id).val("false");     
   }
   else
   {
     $("#popup2").dialog({ closeText: '' ,modal:true , resizable: false,position: [500,100]});
   }   
  }      
