%form#password{:action => "/give_forgot_password",:method => "POST"}
  #main
    .logoBlock
      %a{:href => "#"}
        %img{:alt => "brand logo", :height => "127", :src => "images/brandLogo.gif", :width => "303"}/
    .BrandTxt
      %a{:href => "#"}
        %img{:alt => "Brand Partner Entrance", :height => "30", :src => "images/brandPartnerTxt.gif", :width => "403"}/
    .contentBlock
      .mickLeft
        %img{:alt => "On the air", :height => "210", :src => "images/airMickImg.png", :width => "104"}/
      .userBlock
        .userBlockContent
          %form#forgotPwForm{:action => "", :method => "post", :name => "forgotPwForm"}
            .forgotTxt
              %h2.yellow Forgot Your Password?
            .userMessage
              %p
                PLEASE ENTER YOUR USERNAME/EMAIL BELOW. CLICK THE "ENTER" BUTTON. WE WILL SEND
                %br>/
                YOUR PASSWORD INFORMATION TO YOU !
            .userName
              %input#userNamePw.inputSty{:name => "userNamePw", :placeholder => "USERNAME OR EMAIL", :required => "", :type => "text", :value => ""}/
            .userTxt
              %span
                FORGOT YOUR
                %a{:href => "/forgot_user_name"} USERNAME ?
            .btnBlock
              %input#enterBtn.btnSty{:name => "enterBtn",:type => "button",:onclick=>"this.form.submit();"}/
      .mickRight
        %img{:alt => "On the air", :height => "210", :src => "images/airMickImg.png", :width => "104"}/
