:css
  .ui-dialog {
      background-color: Transparent;
      background-image: url("../images/error_popup.png") !important;
      background-position: center center;
      background-repeat: no-repeat;
      border: medium none !important;
      height: 214px !important;
      width: 275px !important;
  }
%form#password{:action => "/give_forgot_username",:method => "POST"}
  #main
    .logoBlock
      %a{:href => "#"}
        %img{:alt => "brand logo", :height => "127", :src => "images/brandLogo.gif", :width => "303"}/
    .BrandTxt
      %a{:href => "#"}
        %img{:alt => "Brand Partner Entrance", :height => "30", :src => "images/brandPartnerTxt.gif", :width => "403"}/
    .contentBlock
      .mickLeft
        %img{:alt => "On the air", :height => "210", :src => "images/airMickImg.png", :width => "104"}/
      .userBlock
        .userBlockContent
          %form#userNameForm{:action => "", :method => "post", :name => "userNameForm"}
            .forgotTxt
              %h2.yellow FORGOT YOUR USER NAME?
            .userMessage
              %p PLEASE ENTER YOUR EMAIL BELOW. CLICK THE "ENTER" BUTTON. WE WILL SEND YOUR USERNAME INFORMATION TO YOU !
            .userName
              %input#userEmail.inputSty{:name => "userEmail", :placeholder => "USER EMAIL", :required => "", :type => "text", :value => ""}/
            .userName
              %input#confirmEmail.inputSty{:name => "confirmEmail", :placeholder => "CONFIRM EMAIL", :required => "", :type => "text", :value => ""}/
            .userTxt
              %span
                FORGOT YOUR
                %a{:href => "#{new_brand_partner_password_path}"} PASSWORD ?
            .btnBlock
              %input#enterBtn.enterBtnSty{:name => "enterBtn", :type => "button",:onclick=>"this.form.submit();",:style=>"margin-top:10px;"}/
      .mickRight
        %img{:alt => "On the air", :height => "210", :src => "images/airMickImg.png", :width => "104"}/
#popup1.popupbox
  %h2 #{flash[:notice]}
%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"}
%script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"}
-if !flash[:notice].nil?
  :javascript
    $("#popup1").dialog({ modal:true ,resizable: false,position: [490,300] });
