:css
  body {
  margin:0px;
  padding:0px;
  }
  .privacy_policy_main {    
   width:840px;     
   height:auto;     
   background:url("../images/privacy_policy_bg.jpg") no-repeat left top;     
   margin:0px auto;    
   padding:0px;     
  }     
  .privacy_policy_content {    
    height: auto;
    padding: 15px 15px 50px 14px;
    width: 815px;
  }

  .privacy_policy_content p {    
   font:italic normal 12px "Times New Roman", Times, serif;   
   color:#000;    
   margin-top:10px;   
  }

  .privacy_policy_content span {    
   font:italic 21px "Times New Roman", Times, serif;  
   color:#6e2424;    
  }     
  .privacy_policy_content p a {    
   color:#5d0d0e;   
   text-decoration:none;     
  }
  
.privacy_policy_main
  .privacy_policy_content
    %span Terms of Use
    %br/
    %br/
    %span General
    %p
      TheStashBox Service (the "Service") and the web site located at www.stashbox.com (the "Web Site") are owned, operated and distributed by TheStashBox LLC, a New York limited liability company (referred to in these Terms of Use as "we" and through similar words such as "us," "our," etc.).  By using the Service and/or the web site, you are agreeing to the terms and conditions described below (the "Terms of USE") AND 
      %a{:href => "/tsb_privacy"} THE TERMS AND CONDITIONS OF THESTASHBOX PRIVACY POLICY 
      (the "Privacy Policy"), WHICH ARE INCORPORATED HEREIN BY REFERENCE. If you do not agree to ABIDE BY ANY OF THESE TERMS AND ALL APPLICABLE LAWS, YOU SHOULD not use the Service or the web SITE.
      
      The Service and the Web Site allow you to participate in marketers' (the "Marketers") brand testing and development programs (each, a "Program").
      
      In order to access some features of the Web Site or the Service, you will have to create an account. You may never use another's account without permission. You represent and warrant to us that the information you provide for your account is accurate and complete in all respects, and you agree to keep all your account information up to date. You agree that you will be solely responsible for all activity that occurs on your account, whether or not authorized by you.  Accordingly, it is extremely important that you keep your password secure.  You agree to notify us immediately in the event you become aware of, or suspect, any breach of security or unauthorized use of your account.
      
      You acknowledge that we may terminate your account, remove any data or content that you have provided and/or disable your access to the Service or the Web Site, in whole or part, at any time for any reason or no reason, with or without notice and with no liability of any kind.  In addition, we may modify or remove any service or functionality included in the Service or the Web Site at any time, with or without notice and with no liability of any kind.
      
      These Terms of Use, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by us without restriction.
      
      Use of the Service and the Web Site is only available only to individuals who are at least 13 years old. If you are not 13 years old, you are not authorized to use the Service or the Web Site.
      
      We may, at our sole discretion, modify these Terms of Use at any time.  By accessing the Web Site or the Service at any time after such modifications, you are agreeing to such modifications.  These Terms of Use were last modified as of 6.25.2011.
    %span Marketer Content and Third Party Content
    %p We do not actively monitor the use of the Web Site, the Service or any Programs or other communications between you and any Marketer.  You acknowledge and agree that we have no control over such Programs or other communications, do not endorse and are not responsible or liable for any content, advertising, products, features, services, information or other materials included therein (collectively, "Marketer Content"). In addition, the Web Site and the Service may contain links to third party web sites that are not owned or controlled by us.  You acknowledge and agree that we have no control over such third party web sites, are not responsible for the availability of such web sites or resources, and do not endorse and are not responsible or liable for any content, advertising, products, features, services, information or other materials on or available from such third party web sites, or any web sites that they may link to (collectively, "Third Party Content").
    %p
      We shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any Marketer Content or Third Party Content, or in connection with any Program or other transaction with a Marketer or a publisher of Third Party Content.
      %br>/
      You hereby release us and our officers, directors, employees, agents, affiliates and their respective successors and assigns from any claims for damages of any kind or nature, known or unknown, suspected or unsuspected, disclosed or undisclosed, relating to any dispute relating to any Marketer Content or Third Party Content, any Program or other transaction or attempted transaction with any Marketer or publisher of Third Party Content, or the use of the Service or the Web Site in connection with any of the foregoing.  If applicable, you waive California Civil Code Section 1542, which states, in relevant part:  "A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM MUST HAVE MATERIALLY AFFECTED HIS SETTLEMENT WITH THE DEBTOR."
    %span User Submissions
    %p
      Any content submitted by you via the Service or the Web Site to Marketers or for public view is referred to in these Terms of Use as a "User Submission."  You shall be solely responsible for your own User Submissions and the consequences of posting or publishing them. You represent and warrant that you own or have the necessary licenses, rights, consents, and permissions to your User Submissions (and all content included therein), including the right to authorize us and/or the applicable Marketer to use the User Submissions in the manner contemplated by the Service, the Web Site, the applicable Program and/or these Terms of Use.
      %br/
      You retain all of your ownership rights in your User Submissions. However, by submitting the User Submissions, you hereby grant us and the applicable Marketer an irrevocable, perpetual, worldwide, non-exclusive, royalty-free, sublicenseable and transferable license to use, reproduce, distribute, prepare derivative works of, display, and perform the User Submissions in any media formats now or hereafter created and through any media channels now or hereafter created. You also hereby grant each user of the Web Site and the Service a non-exclusive license to access your User Submissions through the Web Site and the Service, and to use, reproduce, distribute, prepare derivative works of, display and perform such User Submissions as permitted through the functionality of the Service and the Web Site and under these Terms of Use.
      %br/
      We do not endorse any User Submission or any opinion, recommendation, or advice expressed therein, and expressly disclaim any and all liability in connection with User Submissions. We reserve the right to remove any User Submissions without prior notice (or to refuse to publish any User Submission) for any reason, and to terminate or refuse a User's access to the Web Site for any reason.
    %span Intellectual Property Rights
    %p
      We are a provider of an interactive computer service for purposes of 47 U.S.C. Section 230. As such, our liability for others' conduct and information is limited as described therein.  Further, we are a service provider pursuant to the Digital Millennium Copyright Act. If you are a copyright owner and believe that any content on the Service or the Web Site infringes upon your copyrights, you may submit a notification pursuant to the Digital Millennium Copyright Act ("DMCA").  To provide us notice of an infringement, you must provide a written communication to TheStashBox LLC, DMCA Infringement Notification Dept., 63 Clinton Suite C New York, New York, 10002  or to info@thestashbox.com that sets forth the information specified by the DMCA (see http://www.copyright.gov/title17/92chap5.html#512). You may be liable for damages (including costs and attorneys' fees) if you materially misrepresent that an activity is infringing your copyright.
      %br/
      The contents of the Web Site, including without limitation, the text, graphics, interactive features and photos created by and for TheStashBox (the "Content"), and the trademarks, service marks and logos contained therein (the "Marks"), are owned by or licensed to us, and are subject to copyright and other intellectual property rights under United States and foreign laws and international conventions.  Content on the Web Site is provided to you for your information and personal use only and may not be used, copied, reproduced, distributed, transmitted, broadcast, displayed, sold, licensed, or otherwise exploited for any purpose whatsoever without our prior written consent or as expressly provided herein.
      %br/
      You agree not to engage in the use, copying, or distribution of any of the Content other than expressly permitted herein, including any use, copying or distribution of User Submissions of third parties obtained through the Web Site, for any commercial purposes.  If you download or print a copy of the Content for personal use, you must retain all copyright and other proprietary notices contained thereon.  You agree not to circumvent, disable or otherwise interfere with security related features of the Web Site or features that prevent or restrict use or copying of any Content or enforce limitations on use of the Web Site or the Content therein.
    %span Warranty Disclaimer and Limitation of Liability
    %p
      YOU AGREE THAT YOUR USE OF THE SERVICE AND THE WEB SITE SHALL BE AT YOUR SOLE RISK, AND THAT THE SERVICE, THE WEB SITE AND ALL CONTENT INCLUDED THEREIN IS PROVIDED TO YOU "AS IS." TO THE FULLEST EXTENT PERMITTED BY LAW, WE DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, IN CONNECTION WITH THE SERVICE AND THE WEB SITE AND YOUR USE THEREOF. WE MAKE NO WARRANTIES OR REPRESENTATIONS ABOUT THE ACCURACY OR COMPLETENESS OF THE SERVICE'S AND/OR THE WEB SITE'S CONTENT OR ANY CONTENT ACCESSIBLE VIA THE SERVICE OR THE WEB SITE AND ASSUME NO LIABILITY OR RESPONSIBILITY FOR ANY (I) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT, (II) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO OR USE OF THE SERVICE OR THE WEB SITE, (III) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL INFORMATION STORED THEREIN, (IV) ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM THE SERVICE OR THE WEB SITE, AND/OR (V) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE THAT MAY BE TRANSMITTED TO OR THROUGH THE SERVICE OR THE WEB SITE BY ANY THIRD PARTY.
      %br/
      IN NO EVENT SHALL WE BE LIABLE UNDER CONTRACT, TORT, STRICT LIABILITY, NEGLIGENCE OR OTHER LEGAL THEORY (I) FOR ANY LOST PROFITS OR SPECIAL, INDIRECT, INCIDENTAL, PUNITIVE OR CONSEQUENTIAL DAMAGES OF ANY KIND WHATSOEVER, SUBSTITUTE GOODS OR
