:css
  body {
  margin:0px;
  padding:0px;
  }
  .privacy_policy_main {    
   width:840px;     
   height:auto;     
   background:url("../images/privacy_policy_bg.jpg") no-repeat left top;     
   margin:0px auto;    
   padding:0px;     
  }
  .left-indent{
    text-indent:20px;
  }     
  .privacy_policy_content {    
    height: auto;
    padding: 15px 15px 50px 14px;
    width: 815px;
  }

  .privacy_policy_content p {    
   font:italic normal 12px "Times New Roman", Times, serif;   
   color:#000;    
   margin-top:10px;   
  }

  .privacy_policy_content span {    
   font:italic 21px "Times New Roman", Times, serif;  
   color:#6e2424;    
  }     
  .privacy_policy_content p a {    
   color:#5d0d0e;   
   text-decoration:none;     
  }

.privacy_policy_main
  .privacy_policy_content
    %span Privacy Policy
    %p
      TheStashBox Service (the "Service") and the web site located at www.thestashbox.com (the "Web Site") are owned, operated and distributed by TheStashBox LLC, a New York limited liability
      
      company (referred  to in this Privacy Policy as "we" and through similar words such as "us," "our," etc.).  By USING the Service and/or the web site, you are agreeing to the terms and
      
      conditions described below (the "PRIVACY POLICY") AND
      %a{:href => "/tsb_term_of_uses"} THE TERMS AND CONDITIONS OF THESTASHBOX TERMS OF USE
      (the "TERMS OF USE"). If you do not agree to any of
      
      these terms, YOU SHOULDnot use the Service or the web site.  The Service and the Web Site allow you to participate in marketers' (the "Marketers") brand testing and development programs
      
      (each, a "Program").  We may, at our sole discretion, modify this Privacy Policy at any time.  By accessing the Service or the Web Site at any time after such modifications, you are agreeing to
      
      such modifications.  This Privacy Policy was last modified as of 6.25.2011.
    %span What Personally Identifiable Information Do We Collect?
    %p We collect the following types of personally identifiable information:
    %p.left-indent
      •	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User Provided Information: You may affirmatively provide us with certain personally identifiable information (such as your name and email address) when participating in various

      activities on the Web Site and the Service.
    %p.left-indent
      •	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Information Collected by "Cookies": When you access the Web Site or the Service, we may send one or more "cookies" to your computer.  A "cookie" is a small line of text that is
      
      stored with your browser. Your browser has options to accept, reject or provide you with notice when a cookie is sent. We may use cookies for many purposes, including (without limitation)
      
      to save your password so you don't have to re-enter it each time you visit the Service, and to deliver content (which may include third party advertisements) specific to your interests.
    %p.left-indent
      •	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Log File Information: Our servers automatically record certain information that your browser sends whenever you access the Service. These server logs may include information
      
      such as your web request, Internet Protocol ("IP") address, browser type, browser language, referring / exit pages and URLs, platform type, number of clicks, domain names, landing pages,
      
      pages viewed and the order of those pages, the amount of time spent on particular pages, the date and time of your request, and one or more cookies that may uniquely identify your browser.
    %p.left-indent
      •	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Information Collected by "Clear GIFs": We may employ "clear GIFs" (a.k.a. Web Beacons), which are used to track usage patterns anonymously
      
      (i.e., in a non-personally-identifiable manner). In addition, we may also use clear GIFs in HTML-based emails sent to users to track which emails are opened by recipients.
    %span How Do We Use Personally Identifiable Information?
    %p
      Any personal information that you voluntarily disclose online (e.g., through a User Submission) becomes publicly available and can be collected and used by others.
      
      If you have not opted out from receiving these communications from us, we may use your email address, phone number or other personally identifiable information to send commercial or marketing messages. We also may use your email address, phone number and other personally identifiable information for non-marketing or administrative purposes (such as notifying you of major Service and/or Web Site changes or for customer service purposes).  You cannot opt out of receiving communications for non-marketing or administrative purposes.
      
      We use aggregated information (such as anonymous user usage data, cookies, IP addresses, browser type, clickstream data, etc.) to improve the quality and design of the Web Site and the Service and to create new features, promotions, functionality, and services by storing, tracking, and analyzing user preferences and trends.  In addition, we may use "cookies," clear gifs and log file information to deliver content (which may include third party advertisements) specific to your interests, and remember information so that you will not have to re-enter it each time you visit the Service or the Web Site.
    %span Sharing of Personally Identifiable Information with Others
    %p We will not share your personally identifiable information with third-party companies (other than the Marketers in whose Programs you participate) for their commercial or marketing use without your consent.  We may provide personally identifiable information to employees, consultants, affiliates or other businesses or persons for the purpose of processing such information on our behalf. In such circumstances, we require that these parties agree to protect the confidentiality of such information and to comply in all respects with this Privacy Policy.  In addition, we may release personally identifiable information:  (i) to the extent we have a good-faith belief that such action is necessary to comply with any applicable law, enforce any provision of the Terms of Use, protect ourselves against any liability, defend ourselves against any claims, protect the rights, property and personal safety of any user or protect the public welfare; or (ii) to respond to a court order, subpoena, or search warrant.
    %span Relationship with Marketers
    %p
      While we include provisions in our agreements with Marketers that require them to use your personally identifiable information in accordance with their privacy policies, we do not have any control over a Marketer's actions, and do not monitor their compliance with their privacy policies.  Accordingly, we shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with any Marketer's handling or use of your personally identifiable information.   You hereby release us and our officers, directors, employees, agents, affiliates and their respective successors and assigns from any claims for damages of any kind or nature, known or unknown, suspected or unsuspected, disclosed or undisclosed, relating to any dispute relating to a Marketer's use or handling of your personally identifiable information.  If applicable, you waive California Civil Code Section 1542, which states, in relevant part:  "A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM MUST HAVE MATERIALLY AFFECTED HIS SETTLEMENT WITH THE DEBTOR."
      %span Information Security
      %p We have implemented security measures to protect personally identifiable information collected on the Service and the Web Site against loss, misuse or alteration.  However, despite the precautions described above, we cannot and do not guarantee that the individual user information you have transmitted will not be intercepted by others and/or decrypted or accidentally disclosed, and we accept no liability for any unintentional disclosure.
      %span In the Event of Merger, Sale, or Bankruptcy
      %p In the event that we are acquired by or merged with a third party entity, we reserve the right to transfer or assign the information we have collected from users as part of such merger, acquisition, sale, or other change of control. In the unlikely event of our bankruptcy, insolvency, reorganization, receivership, or assignment for the benefit of creditors, or the application of laws or equitable principles affecting creditors' rights generally, we may not be able to control how your personal information is treated, transferred, or used.
      %span Children's Privacy
      %p
        You must be 13 years and older to register to use the Service or the Web Site. As a result, we do not collect information about children under age 13.
        
        Special Note to International Users
        
        The Service and the Web Site are hosted in the United States and are intended for and directed to users in the United States. If you are accessing the Service or the Web Site from the European Union, Asia, or any other region with laws or regulations governing personal data collection, use, and disclosure, that differ from United States laws, please be advised that through your continued use of the Service and/or the Web Site, which is governed by U.S. law, this Privacy Policy, and our Terms of Use, you are transferring the Member's personal information to the United States and you consent to that transfer.
      %p California Privacy Rights
      %p California Civil Code Section 1798.83 permits users of the Service who are California residents to request certain information regarding its disclosure of personal information to third parties for their direct marketing purposes. To make such a request, please send an e-mail with "California Privacy Rights" in the heading to info@thestashbox.com or write us at:
      %p
        Thestashbox
        %br/
        63 clinton suite C
        %br/
        New York, New York 10002
        %br/
        TheStashBox Privacy Rights
      %span Miscellaneous
      %p You agree that the Service and the Web Site shall be deemed passive services based solely based in New York, New York, U.S.A., and shall not give rise to personal jurisdiction over us either specific or general, in jurisdictions other than New York. This Privacy Policy shall be governed by the internal laws of the State of New York, without regard to its conflict of laws principles.  Any dispute arising out of this Privacy Policy shall be subject to the exclusive jurisdiction of the federal and State courts located in New York, New York. This Privacy Policy, together with the Terms of Use and any other legal notices published by us on the Service or the Web Site, constitute the entire agreement between you and us concerning the Service and the Web Site. If any provision of this Privacy Policy is deemed invalid by a court of competent jurisdiction, the invalidity of such provision shall not affect the validity of the remaining provisions of this Privacy Policy, which shall remain in full force and effect. No waiver of any term of this Privacy Policy shall be deemed a further or continuing waiver of such term or any other term, and our failure to assert any right or provision under this Privacy Policy shall not constitute a waiver of such right or provision.
      %p
        To the fullest extent permitted by applicable law, NO CLAIM UNDER THIS PRIVACY POLICY SHALL BE JOINED TO ANY OTHER CLAIM, INCLUDING ANY CLAIM INVOLVING ANY OTHER CURRENT OR FORMER USER OF THE SERVICE OR THE WEB SITE, AND NO CLASS ACTION PROCEEDINGS SHALL BE PERMITTED. In no event shall any claim, action or proceeding by you be instituted more than three (3) years after the cause of action arose.
        
        Most communications between us and you will be sent and received electronically. You agree that all agreements, notices, disclosures and other electronic communication exchanged between you and us shall satisfy any legal requirements that such communications be in writing.
