#main
  %img{:alt => "Join The Stash Box", :height => "89", :src => "images/logo-joinus.png", :width => "274"}/
  .tweet.query
/ #main
%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"}
%script{:src => "javascripts/jquery.tweet.js"}
= javascript_include_tag 'twitter'
