.steel-container{
	width:615px;
	margin:0 auto;
}
.steel-container .head-rewards{
	text-align:center;
	font: normal 33px "Trajan Pro";
	color:#636363;
}
.steel-container .head-rewards span{
	text-align:center;
	font: normal 33px TheLastFont11;
	color:#636363;
}
.steel-container .steal-wrapper{
	background:url(../images/steel-page-bg.jpg);
	width:615px;
	height:418px;
	margin-top:5px;
}
.steal-wrapper .left-part{
	float:left;
	width:320px;
	text-align:center;	
	text-align:center;
	font: normal 20px TheLastFont11;
	color:#e1e1e1;
	}
.left-part span{
	font: normal 30px TheLastFont11;		
}
.left-part .t-shirt-off{
	margin-top:65px;
	line-height:10px;
}
.steal-wrapper .right-part{
	float:left;
	width:295px;
	text-align:center;
}
.right-part .my-steel-head{
	text-align:center;
	font:italic 24px TheLastFont11;
	color:#e1e1e1;
	margin-top:14px;
}
.my-steel-head span{
	font:normal 12px "Trajan Pro";
	color:#e1e1e1;
}
.right-part .social-icon{
	margin-top:21px;
	text-align:center;	
}
.right-part .social-icon a{
	text-decoration:none;
}
.steelcode{
	background:url(../images/steel-down-bg.jpg);
	width:294px;
	height:100px;
	text-align:center;
	font:italic 20px TheLastFont11;
	color:#e1e1e1;
	margin-top:14px;
	padding-top:18px;
}
.love-som{
	font:normal 18px "Trajan Pro";
	color:#ec008c;
	margin:13px 0px 25px 0px;
	padding:0px;
}
.sono-link{
	font:normal 13px "Trajan Pro";
	color:#e1e1e1;
	margin:0px;
	padding:0px;
	}
.rewards-down-head{
	height:72px;
	font:bold 38px "Trajan Pro";
	color:#e1e1e1;
	padding-top:23px;
	text-align:center;
}
.rewards-down-head span{
	height:72px;
	font:bold 38px TheLastFont11;
	color:#e1e1e1;
	padding-top:23px;
	text-align:center;
}
.brackets{
    background: url("../images/bracket.png") repeat scroll 0 0 transparent;
    font: bold 13px "Trajan Pro";
    height: 54px;
    margin: 10px auto;
    padding-top: 14px;
    text-align: center;
    width: 224px;
	color:#ffffff;
}
