.popup_stashname_bg{:style=>"margin-top:100px;"}
  .popup_heading
    .popup_close
      %a{:href => "#{member_survey_have_code_path}"}
  .popup_logo
  .popup_oh_no_txt Oh No!
  .popup_content_txt
    Apologies, but it appears as though your membership code is no longer valid.
    But fear not, find a new code here and
    let's resume.  Shall we?