#middle_content
  .congrates_bg
    .revalution_needs_img
    .congrates_heading_row
      .congrates_heading
    .congrates_txt_main
      .congrates_txt
        You are now an official STASHBOX member.  Take a moment and relish
        in our sincere congratulations.
        .clear
      .clear
    .congrates_txt2
    .congrates_txt_main
      .congrats_your_truly
      .congrats_thestash_box