#main
  #middle_content
    .revalution_needs_img
    .dont_have_bg
      .dont_have_heading Don't a have a membership code?
      .dont_have_content Don't fret, just follow our lead by entering some basic details about yourself and we'll let you know as soon as spot is available
    .continue_bttn_row
      .continue_bttn
