#middle_content
  .revalution_needs_img
  .thank_you_row
    .clock_img
    .thank_you_bg
      .thank_you_heading Thank You For Applying To The STASHBOX
      .thank_you_content Your membership application is processing and while we know you're shivering with anticipation, stay cool and we promise to alert you as soon as a slot opens up.
    .clock_img
    .clear