<p>Hello <%= @resource.email %>!</p>

<p>Arghhh don't you hate when you forget your password!!!</p>
<p>Don't worry we have you covered.</p>
<p>To change your password please click the link below.</p>
<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
Thank you
<br>
theStashbox Family

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

