!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    / Facebook sharing information tags
    %title Email Subject
  %body{:leftmargin => "0", :marginheight => "0", :marginwidth => "0", :offset => "0", :topmargin => "0"}
    = image_tag "http://#{Settings.site_base_uri}/images/mailing_img.jpg",:style=>"height:100%,width:100%"