%br/
Hi!
%br/
%br/
= message["username"] unless message["username"].blank?
%br/
= message["From"] unless message["From"].blank?
%br/
= message["email_message"] unless message["email_message"].blank?
%br/
%br/
Thanks