#middle_content{:style=>"padding-bottom:50px;"}
  .my_stash_box_main
    .my_stash_box_lock_img
    .my_stash_box
    .my_stash_box_lock_img
  .my_stash_box_heading_txt A personal collection of my STASHBOX contributions.
  .key_box
  .landing_links_main
    .landing_links_row
      .landing_button
        %a{:href => "javascript:;"} My Rewards
        = link_to "Update Profile", members_profile_path
    .landing_links_row2
      .landing_button
        = link_to "Invite Friends", members_invite_friends_path
